/* 
Color Scheme
Onyx: #31393C
Blue (Crayola): #2176FF
Azure: #33A1FD
Sunglow: #FDCA40
Carrot Orange: #F79824
*/
/*
Global stylings
*/

.footer {
    background-color: #31393C;
    margin-bottom:0;
    color: darkgrey;
    position: absolute;
    width: 100%;
    text-align: center;
}
.footer p {
    padding: 20px;
    font-size: 15px;
}

.footer ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
}

.footer ul {
    text-align: center;
    margin-top: 40px;
    padding-left: 0;
}

.footer ul li:not(:last-child) {
    border-right: 1px solid whitesmoke;
    padding-right: 13px;
}

.footer ul li a {
    text-decoration: none;
    color: whitesmoke;
}